@font-face {
  font-family: 'lalezar';
  src: url(./assets/fonts/Lalezar.ttf);
}

@font-face {
  font-family: 'iransans';
  src: url(./assets/fonts/IRANSansWeb.ttf);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'iransans', sans-serif;
}

.lalezar{
  font-family: 'lalezar';
}